amqp==5.1.1
asgiref==3.6.0
async-timeout==4.0.2
billiard==3.6.4.0
caldav==1.3.6
celery==5.2.7
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
Deprecated==1.2.13
Django==4.2
django-filter==23.2
djangorestframework==3.14.0
flower==1.2.0
gunicorn==20.1.0
humanize==4.6.0
icalendar==5.0.5
idna==3.4
kombu==5.2.4
lxml==4.9.2
packaging==23.1
prometheus-client==0.16.0
prompt-toolkit==3.0.38
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
recurring-ical-events==2.0.2
redis==4.5.4
requests==2.29.0
six==1.16.0
sqlparse==0.4.4
tornado==6.3.1
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
uuid==1.30
vine==5.0.0
vobject==0.9.6.1
wcwidth==0.2.6
wrapt==1.15.0
x-wr-timezone==0.0.5
