{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div>
    <form class="card-body" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_start_date">Дата начала</label>
        <input class="form-control" id="id_start_date" type="date" name="start_date" required/>
        {% if form.errors.start_date %}
                <ul>{{ form.errors.start_date }}</ul>
        {% endif %}
        <label for="id_end_date">Дата конца</label>
        <input class="form-control" id="id_end_date" type="date" name="end_date" required/>
        {% if form.errors.end_date %}
                <ul>{{ form.errors.end_date }}</ul>
        {% endif %}
        <div class="card-footer">
        <button class="btn btn-primary" type="submit">Создать</button>
        </div>
    </form>
    </div>
{% endblock content %}
